<div>
  <div class="row justify-content-center">
    <div class="col-md-8" *ngIf="currentAccount as account">
      <h2>
        Password for [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Ubah Password sukses!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Ada error!</strong> Password tidak bisa diubah.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        Password dan konfirmasi password tidak sesuai
      </div>

      <form
        name="form"
        role="form"
        (ngSubmit)="changePassword()"
        [formGroup]="passwordForm"
      >
        <div class="form-group">
          <label class="form-control-label" for="currentPassword"
            >Password saat ini</label
          >
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Password saat ini"
            formControlName="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty ||
                passwordForm.get('currentPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('currentPassword')?.errors?.required"
            >
              Password harus diisi.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="newPassword"
            >Password baru</label
          >
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="Password baru"
            formControlName="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty ||
                passwordForm.get('newPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.required"
            >
              Password harus diisi
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
            >
              Password minimal 4 karakter
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
            >
              Password tidak boleh lebih dari 50 karakter
            </small>
          </div>

          <jhi-password-strength-bar
            [passwordToCheck]="passwordForm.get('newPassword')!.value"
          ></jhi-password-strength-bar>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword"
            >Password baru Konfirmasi</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Konfirmasi password"
            formControlName="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty ||
                passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
            >
              Konfirmasi password harus diisi
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
            >
              Minimal password adalah 4 karakter
            </small>

            <small
              class="form-text text-danger"
              *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
            >
              Konfirmasi password tidak boleh lebih dari 50 karakter
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="passwordForm.invalid"
          class="btn btn-primary"
          jhiTranslate="password.form.button"
        >
          Simpan
        </button>
      </form>
    </div>
  </div>
</div>
