<ng-container [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label for="ageYear" class="col-md-3 col-form-label"
          >Umur bulan aktiva</label
        >
        <div class="col-md-2">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              id="ageYear"
              formControlName="ageYear"
              aria-describedby="ageYear"
              autocomplete="false"
              (change)="calculateRate()"
              [ngClass]="{
                'is-invalid': isSaving && f.ageYear.errors
              }"
            />
            <div class="input-group-append">
              <span class="col-form-label ml-2">tahun</span>
            </div>
            <div *ngIf="isSaving && f.ageMonth.errors" class="invalid-feedback">
              <div *ngIf="f.ageMonth.errors.required">
                Umur tahun harus diisi
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              id="ageMonth"
              formControlName="ageMonth"
              aria-describedby="ageMonth"
              autocomplete="false"
              (change)="calculateRate()"
              [ngClass]="{
                'is-invalid': isSaving && f.ageMonth.errors
              }"
            />
            <div class="input-group-append">
              <span class="col-form-label ml-2">bulan</span>
            </div>
            <div *ngIf="isSaving && f.ageMonth.errors" class="invalid-feedback">
              <div *ngIf="f.ageMonth.errors.required">
                Umur bulan aktiva harus diisi
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="deprMethodId" class="col-md-3 col-form-label"
          >Metode Penyusutan</label
        >
        <div class="col-md-5">
          <ng-select
            id="deprMethodId"
            name="deprMethodId"
            [items]="listDepreciationMethod"
            bindLabel="description"
            bindValue="id"
            formControlName="deprMethodId"
            (change)="selectDepreciationMethod($event)"
          >
          </ng-select>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="input-group mb-6">
              <div class="input-group-prepend">
                <span class="col-form-label mr-2">Rasio</span>
              </div>
              <input
                type="number"
                class="form-control"
                id="deprRatio"
                formControlName="deprRatio"
                aria-describedby="deprRatio"
                autocomplete="false"
                [ngClass]="{
                  'is-invalid': isSaving && f.deprRatio.errors
                }"
              />
              <div class="input-group-append">
                <span class="col-form-label ml-2 mr-2"> % </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="faAccountId" class="col-md-3 col-form-label"
          >Akun Aktiva</label
        >
        <div class="col-md-5">
          <ng-select
            id="faAccountId"
            name="faAccountId"
            [items]="listAkunAktiva"
            bindLabel="fullName"
            bindValue="id"
            formControlName="faAccountId"
          >
          </ng-select>
        </div>
      </div>
      <div [hidden]="!!!selectedDepr || selectedDepr.rate === 0" class="form-group row">
        <label for="deprAccountId" class="col-md-3 col-form-label"
          >Akun Akum Penyusutan</label
        >
        <div class="col-md-5">
          <ng-select
            id="deprAccountId"
            name="deprAccountId"
            [items]="listAkunAkumPenyusutan"
            bindLabel="fullName"
            bindValue="id"
            formControlName="deprAccountId"
          >
          </ng-select>
        </div>
      </div>
      <div [hidden]="!!!selectedDepr || selectedDepr.rate === 0" class="form-group row">
        <label for="deprExpenseAccountId" class="col-md-3 col-form-label"
          >Akun Beban Penyusutan</label
        >
        <div class="col-md-5">
          <ng-select
            id="deprExpenseAccountId"
            name="deprExpenseAccountId"
            [items]="listAkunBebanPenyusutan"
            bindLabel="fullName"
            bindValue="id"
            formControlName="deprExpenseAccountId"
          >
          </ng-select>
        </div>
        <label class="col-md-4 col-form-label"
          >Tgl. Jurnal Terakhir:<b> {{form.get('lastJournalDate').value | date: "dd/MM/yyyy"}}</b></label
        >
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 my-auto">
      <div class="form-check">
        <label class="form-check-label" for="intagible">
          <input
            class="form-check-input"
            type="checkbox"
            id="intagible"
            name="intagible"
            style="cursor: pointer"
            formControlName="intagible"
          />
          <span style="cursor: pointer">Aktiva tidak berwujud</span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 my-auto">
      <div class="form-check">
        <label class="form-check-label" for="fiscalAsset">
          <input
            class="form-check-input"
            type="checkbox"
            id="fiscalAsset"
            name="fiscalAsset"
            style="cursor: pointer"
            formControlName="fiscalAsset"
          />
          <span style="cursor: pointer">Aktiva tetap fiskal</span>
        </label>
      </div>
    </div>
  </div>
</ng-container>
